@model EditContestEntryViewModel

@{
    ViewBag.Title = "Geek Peeked > Contests > Edit Contest Entry";
}

@Html.Partial("_Alerts")
<div class="container-fluid">
    <div class="row">
        <div class="pull-right"><a class="" href="@Url.Action("Index", "Contest")">Back to Contests</a></div>
        <div><h1>@ViewBag.Title</h1><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("EditEntry", "Contest", FormMethod.Post, new { }))
            {
                @Html.HiddenFor(m => m.ContestEntryId)
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2>@Model.Contest.Title</h2>
                    <p>@Model.Contest.Objective</p>
                </div>
                if (Model.Categories != null)
                {
                    for (int i = 0; i < Model.Categories.Count; i++)
                    {
                        @Html.HiddenFor(m => Model.Categories[i].CategoryId)
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@Model.Categories[i].CategoryTitle</h3>
                                </div>
                                <div class="panel-body">
                                    @if (Model.Categories[i].Nominees != null)
                                    {
                                        foreach (var nominee in Model.Categories[i].Nominees.OrderBy(n => n.NomineeText).OrderBy(n => n.SortOrder))
                                        {
                                            <div class="nominee-container">
                                                @Html.RadioButtonFor(m => Model.Categories[i].SelectedNomineeId, nominee.NomineeId) &nbsp;&nbsp; @nominee.NomineeText
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Update Entry</button>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 pull-right">
                    <a class="" href="@Url.Action("Index", "Contest")">Back to Contests</a>
                </div>
            }
        </div>
    </div>
</div>